*{
    margin:0;
    padding:0;
    box-sizing:0;
}
body{
    background-image: url(elai.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color:white;
    text-align: center;
    margin:15%;
    font-size: 140px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}